:root {
    --color-principal: #4361ee;
    --color-secundario: #caf0f8;
    --blanco: #fff;
    --negro: #000;
    --color-curso: #4895ef;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Esto para que 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff1e6;
    font-family: 'Open Sans';
    font-size: 1.6rem;
    line-height: 2;
}

/* GLOBALES */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a { text-decoration: none; }

h1 { font-size: 6rem; }
h2 { font-size: 4rem; }

h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }

img { max-width: 100%; }

img:hover{ transform: scale(1.3); }

/* UTILIDADES */
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.centrar-texto { text-align: center; }

/* HEADER */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/Acapulco-bahía.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Son dos center ya que se debe posicionar en x y */
}
.titulo { font-weight: 800; }
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 16rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 16rem;
    }
}

.barra { padding-top: 4rem; }

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo { color: var(--blanco); }

.logo__nombre {
    font-weight: 800;
    color: var(--blanco);
}

.logo__bold { font-weight: 700; }

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--blanco);
    font-weight: bold;
}
.navegacion__enlace:hover { color: var(--color-curso);}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 2px solid var(--color-secundario);
    margin-top: 2rem;
}

.entrada:last-of-type {
    /* Selecionamos el ultimo article */
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    /* Es block para que cuando se visualice en una pantalla pequeña tome todo el espacio dispobible */
    color: var(--blanco);
    text-align: center;
    padding: .5rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        /* Con esto solo tomara el espacio que requiere
        si quisieramos usar un margin o width lo rechazaria 
        Para usar esas propiedades igual podriamos usar inline-block*/
    }
}

.boton--primario {
    background-color: var(--color-principal);
}
.boton--primario:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.boton--secundario {
    background-color: var(--color-curso);
    color: var(--blanco);
}
.boton--secundario:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

.playas { list-style: none; }

.widget-curso {
    border-bottom: 4px solid var(--color-secundario);
    margin-bottom: 3rem;
}
.widget-playa {
    border-bottom: 2px solid var(--color-secundario);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-playa__label { font-weight: bold; }

.widget-playa__info { font-weight: 400; }

.widget-playa__label,
.widget-playa__info { font-size: 2rem; }

.footer {
    background-color: var(--color-principal);
    margin-top: 2rem;
    padding-bottom: 1rem;
}

/* SOBRE NOSOTROS */
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* playaS */
.playa {
    padding: 3rem 0;
    border-bottom: 2px solid var(--color-secundario);
}

@media (min-width: 768px) {
    .playa {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.playa:last-of-type { border: none; }

.playa__label { font-weight: bold; }

.playa__info { font-weight: 400; }

.playa__label,
.playa__info { font-size: 2rem; }

/* CONTACTO */
.contacto-bg {
    background-image: url(../img/bg-form.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/* CONTACTO */
.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    /* Da margin hacia arriba */
    width: 95%;
    padding: 3rem;
    border-radius: 1rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
    font-weight: 600;
}

.campo__field {
    flex: 1;
    border: 2px solid var(--color-secundario);
    border-radius: 1rem;
    padding: 1rem;
}

.nombres {
    color: #fff1e6;
    font-weight: 600;
    font-size: 2rem;
}